:root {
  --inu-primary: #f9af15;
  --inu-dark: #675544;
  --inu-white: #ffffff;
  --inu-bg: #fef8ef;
}

.login-inu-wrapper {
  background: var(--inu-bg);
  min-height: 100vh;
  padding: 30px;
}

.login-inu-box {
  background: var(--inu-white);
  padding: 40px 30px;
  border-radius: 16px;
  max-width: 420px;
  width: 100%;
}

.text-inu-dark {
  color: var(--inu-dark);
}

.btn-inu {
  background-color: var(--inu-primary);
  color: var(--inu-dark);
  font-weight: bold;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.btn-inu:hover {
  background-color: #e69b0e;
  color: white;
}
